.container{
    width: 500px;
    margin: auto;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 20px 40px;
}

.container hr{
    height: 2px;
    border: none;
    background:#707070;
}

.container h2{
    font-size: 18px;
    font-weight: 600;
}


.container ul li{
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.container button{
    margin: auto;
    width: 200px;
    height: 40px;
    background-color: #250789;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius:8px;
    border: none;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-weight: 600;
    border-radius: 10px;
}

.correct {
    background: #dffff2;
    border-color: #00d397;
}
.wrong{
    background: #ffebeb;
    border-color: #ff4a4a;
}

.score{
    padding: 50px 0px;
    text-align: center;
    text-transform: uppercase;
}

.scored{
    color: red;
}