*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-image: linear-gradient(#9c88ca, #250789);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'poppins';
}